@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Oswald:wght@600&display=swap");

body {
  /* font-family: "Open Sans Condensed"; */
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  padding: 20px 80px;
}
